<h1>Recipe Details</h1>
<div class="row" id="recipe-detail">
    <div class="col-xs-12">
        <img style="max-height: 260px; border-radius: 14px;" [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="list-group-item"> {{ recipe.description }} </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 style="width: 100%;" class="btn btn-warning">Ingredients List</h1>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <a (click)="onAddToShoppingList()" style="cursor: pointer;">Add ingredients to Shopping list</a>
                    <a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a>
                    <a (click)="deleteRecipe(recipe)" style="cursor: pointer;">Delete Recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>